<html>
    <head>
        <title> Yulya's blog</title>
    </head>
    <body>
    {% for post in posts %}
        <div>
            <p>published: {{post.published_date}}</p>
            <h1><a href="">{{ post.title }}</a> </h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    <h1><b>МЕДИЦИНА БУДУЩЕГО</b></h1>
    <p> ЕЩЕ НЕДАВНО ЛЮДИ ОБРАЩАЛИСЬ К МЕДИЦИНЕ ТОЛЬКО В СЛУЧАЕ БОЛЕЗНИ.
        С РОСТОМ БЛАГОСОСТОЯНИЯ И УВЕЛИЧЕНИЕМ СРОКА ЖИЗНИ В РАЗВИТЫХ СТРАНАХ
        РАСТЕТ СПРОС НА ПРЕВЕНТИВНУЮ МЕДИЦИНУ — СПОСОБЫ СОХРАНИТЬ И УЛУЧШИТЬ ЗДОРОВЬЕ
        С ПОМОЩЬЮ ИЗМЕНЕНИЯ ОБРАЗА ЖИЗНИ, СОВРЕМЕННЫХ ТОЧНЫХ ИССЛЕДОВАНИЙ И ПЕРСОНАЛЬНО ПОДОБРАННОЙ ТЕРАПИИ.
    </p>
    <h2><b>ЧТО ЗА ТРЕНД?</b></h2>
    <p> Сегодня люди активно интересуются своим здоровьем:
        пересматривают образ жизни, отказываются от вредных привычек,
        следуют рекомендациям по здоровому питанию, занимаются спортом,
        следят за биологическими показателями с помощью медицинских
        исследований и технологичных устройств,
        от весов и часов до миниатюрных электроэнцефалографов, помогающих медитировать.
    </p>
    <p>Для более подробной информации:
        <a href="https://premium.rbc.ru/article/3">ссылка</a>
    </p>
    </body>
</html>
